server:
  port: 8080

spring:
  jpa:
    show-sql: true
  datasource:
    base-url: jdbc:postgresql://localhost:5432/
    username: postgres
    password: docker
    driver-class-name: org.postgresql.Driver